<% js_includes = []%>

<h1>Add a New Account</h1>
<form method="POST" action="/account/insert_account">
    First Name <input type="text" id="first_name" name="first_name" /> <br />
    Last Name <input type="text" id="last_name" name="last_name" /> <br />
    Email <input type="text" id="email" name="email" /> <br />
    Password <input type="text" id="pass_word" name="pass_word" /> <br />

    <br />

    <button id="addBtn">Add</button>
</form>