<% if(rs.length > 0) { %>
Store Ratings:
<!--<%= rs[0].store_name %>-->
<ul>
    <% for(var i=0; i < rs.length; i++) {%>

    <li>Customer: <%= rs[i].first_name %></li>
    <ul style="list-style-type:circle">
        <li>Rate: <%= rs[i].rating %></li>
    </ul>

    <% } %>
</ul>
<% } else { %>
No store matched store id <%= store_ID %>.
<% } %>