<!DOCTYPE html>
<html>
<head>
<body background="http://thumbs.dreamstime.com/z/background-cakes-vector-pattern-sweet-brownies-44095354.jpg"></body>
<title>BROWNIE STORES AYEEEEE</title>

<style>

    #header {
        background-color: saddlebrown;
        color: sandybrown;
        height: 90px;
        text-align: center;
        padding: 1px;
        font-size: 20px;
    }
    #nav {
        line-height:17px;
        background-color: antiquewhite;
        height:580px;
        width:250px;
        float:left;
        padding:5px;
        opacity: 0.90;
        filter: alpha(opacity=50);
    }


    #section {
        line-height:20px;
        background-color: antiquewhite;
        height:390px;
        width:500px;
        float: right;
        padding:100px;
        opacity: 0.90;
        filter: alpha(opacity=50);
    }

    #footer {
        background-color:brown;
        color:rosybrown;
        clear:both;
        text-align:center;
        padding:5px;
    }

</style>
</head>


<body>

<div id="header">
    <h1> Brownie Store Extras! </h1>
</div>



<div id="section">
    <p> Brownies Galore ! </p>
    <p> Here are a list of the best brownie stores, click on the names to check out
        their popular sides! </p>

</div>
</body>

</html>

<div id = "nav">
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr><th>Store Name</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td><a href="/extra/?store_ID=<%= rs[i].store_ID %>"> <%= rs[i].store_name %></a></td>

        </tr>
        <% } %>
    </table>
    <% } else { %>
    No Stores exist.
    <% } %>


</div>

